@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(217, 225, 255);
  font-family: "Lato", Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(49, 74, 162, 0.2);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

.quiz-header h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background: rgb(187, 194, 221);
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: inherit;
  padding: 1.3rem;
}

button:hover {
  background: rgb(136, 156, 226);
}

button:focus {
  outline: none;
  background: rgb(136, 156, 226);
}
