* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  h1 {
    margin: 10px 0 0;
    text-align: center;
  }
  
  #container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  #container img {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  #container img:hover {
    transform: scale(1.1) translateY(-10px);
    cursor: pointer;
  }
  