* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  .bg {
    background: url("https://images.unsplash.com/photo-1680479611085-2a075987da25?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80")
      no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
  }
  
  .loading {
    font-size: 50px;
    color: #fff;
  }
  