* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  button {
    background-color: purple;
    color: #fff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
  }
  button:focus {
    outline: none;
  }
  
  button .circle {
    position: absolute;
    background: #fff;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
  }
  
  @keyframes scale {
    to {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
    }
  }
  