.container {
    border: 2px solid green;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    ooverflow: hidden;
    border-radius: 10px;
  }
  
  .upload-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .upload-icon {
    border: 2px solid green;
    border-radius: 50%;
    padding: 5px;
  }
  .upload-icon {
    margin: 5px auto;
  }
  #file_input {
    display: none;
  }
  .msg {
    font-size: 16px;
  }
  .show-img {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 5px;
  }
  