@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #f17f34a1;
  color: #222;
  overflow-x: hidden;
  word-spacing: 5px;
  letter-spacing: 1.5px;
}

.container {
  background: #fafafa;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav .circle {
  transform: rotate(-84deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle {
  background-color: #f17f34a1;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 20px;
  left: 0;
  font-size: 12px;
  z-index: 111;
}
nav ul {
  list-style-type: none;
  padding-left: 20px;
}
nav ul li {
  text-transform: uppercase;
  color: white;
  margin: 15px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}
nav ul li i::before {
  margin-right: 8px;
}
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}
